services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./backend/db.sqlite3:/app/db.sqlite3
    environment:
      - DEBUG=True
      - ALLOWED_HOSTS=*

  frontend:
    build:
      context: .
      dockerfile: Dockerfile-frontend
    ports:
      - "3000:80"
    volumes:
      - ./react:/app
      - build-files:/usr/share/nginx/html
    stdin_open: true
    tty: true

  nginx:
    build:
      context: .
      dockerfile: Dockerfile-nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - backend
    volumes:
      - ../../../../../../../../etc/nginx/sites-available/vizsgaremek:/etc/nginx/conf.d/default.conf
      - ../../../../../../../../etc/letsencrypt/live/uni-support.sytes.net/fullchain.pem:/etc/letsencrypt/live/uni-support.sytes.net/fullchain.pem
      - ../../../../../../../../etc/letsencrypt/live/uni-support.sytes.net/privkey.pem:/etc/letsencrypt/live/uni-support.sytes.net/privkey.pem
      - build-files:/usr/share/nginx/html

volumes:
  build-files: